body{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
}
.top-section{
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.712)url(images/top-bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 700px;
    border-bottom: 10px solid gray;
   
}
.container{
    margin-top: 30px;
    width: 92%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 36px;
    width: 134px;
}
.signin-btn a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
}

.top-container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}

.top-container h1{
    font-size: 50px;
    width: 45%;
}
.top-container h2{
    margin-top: 0;
    line-height: 0;
    font-weight: 800;
}
.top-container p{
    font-size: 18px;
    font-weight: 600;
}
.email-lookup{
    display: flex;
    align-items: center;
}
.email-lookup input{
    width: 450px;
    height: 60px;
    margin-right: 0;
    font-size: 20px;
    padding-left: 10px;

}
.email-lookup button{
    height: 65px;
    color: white;
    background-color: red;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 30px;
    border: none;
    margin-left: 0;
}